<% content_for :title, @page.title %>

<article>
  <%= raw @page.to_html %>

  <ul class="list-flat list-spaced-right">
  <% @page.tags.each do |tag| %>
    <li><%= link_to "##{tag}", tag_path(tag) %></li>
  <% end %>
  </ul>
</article>

