<% content_for :title, @page.title %>

<article>
  <h1><%= link_to @page.title, page_path(@page), :class => 'no-decoration' %></h1>

  <%= raw @page.to_html %>

  <div class="smaller-font lighten top-gap-double-em shaded-panel">
    Last modified: <%= content_tag :abbr, @page.mtime.to_date.to_formatted_s(:rfc822), :title => @page.mtime.utc.iso8601 %>
    <ul class="list-flat list-spaced-right">
    <% @page.tags.each do |tag| %>
      <li><%= link_to "##{tag}", tag_path(tag), :rel => 'tag' %></li>
    <% end %>
    </ul>
  </div>
</article>

