<% content_for :title, 'Tags' %>

<h2>Tags</h2>

<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %> <span class="badge lighten monospace"><%= tag.page_count %></span></li>
  <% end %>
</ul>

