$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: et-bembo, Cambria, Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$monospace: PragmataPro, Consolas, Menlo, monospace;

$text-color: #424242;
$link-color: #265C83;
$heading-color: darken($text-color, 10);

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 21px;
  font-family: $serif;
  color: $text-color;
  padding: 0 10px;
  font-variant-numeric: lining-nums;
}

// From http://mrmrs.io/links/
a { color: $link-color; }

a:link,
a:visited { color: $link-color; }
a:hover   { color: lighten($link-color, 20); }
a:active  { color: #007BE6; }

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  color: $heading-color;
  position: relative;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }

  .anchor {
    width: 1em;
    position: absolute;
    top: 0;
    left: 0;

    .link-icon {
      display: none;
      color: lighten($text-color, 50);
      font-weight: normal;
    }
  }

  &:hover .anchor {
    margin-left: -1.25em;
    padding-left: 0.5em; // To give some leeway for overshooting with the mouse pointer

    .link-icon {
      display: inline-block;
    }
  }
}

h1 {
  font-size: 3rem;
}

pre {
  overflow: auto;
  margin-bottom: 1em;
  line-height: 1;
}
code {
  font-family: $monospace;
  font-size: 0.8rem;
}

header {
  strong {
    font-size: 2rem;
    position: static;
    display: block;
    line-height: 1.2;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $heading-color;
    }
  }
}

article {
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

.list-flat {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }
}

.list-spaced-left {
  li {
    margin-left: 1rem;
  }
}
.list-spaced-right {
  li {
    margin-right: 1rem;
  }
}

.no-decoration {
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin: 0;
}

.center-text {
  text-align: center;
}
.right {
  float: right;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}

.top-gap {
  margin-top: 10vh;
}
.bottom-gap {
  margin-bottom: 10vh;
}

.smaller-font {
  font-size: smaller;
}
.lighten {
  color: lighten($text-color, 10);
}

.huge-font {
  font-size: 48px;
}

.badge {
  font-weight: bold;
  background-color: lighten($text-color, 60);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: text-top;
}

.monospace {
  font-family: $monospace;
}

